.toasted .primary,
.toasted.toasted-primary {
  border-radius: 6px !important;
  justify-content: start !important;
  font-weight: 400 !important;
}

.toasted .primary.error,
.toasted.toasted-primary.error {
  background-color: #f56565 !important
}

.toasted .primary.success,
.toasted.toasted-primary.success {
  background-color: #48bb78 !important;
}